<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <form th:action="@{/adduser}" method="POST">
    <p>계정이름</p>
    <input name="username">
    <p>비밀번호</p>
    <input name="password">
    <p>이름</p>
    <input name="name">
    <p>전화번호</p>
    <input name="phone">
    <p>이메일</p>
    <input name="email">
    <p>생년월일</p>
    <input name="birthday">
    <button type="submit">전송</button>

  </form>
</body>
</html>